
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul, ol, menu {
    list-style: none;
}

.flex {
    display: flex;
}

.structure {
    max-width: 1418px;
    margin: 0 auto;
}

/* HEADER ===========================================*/

header {
    background-color: #ff6900;
    box-shadow: 0 2px 3px #939393;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

header .structure {
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
}

.suitable {
    gap: 10px;
    font-weight: 900;
}

.suitable a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

.suitable a:hover {
    text-decoration: underline;
}

.logo img {
    height: 30px;
    cursor: pointer;
}

.options {
    gap: 4px;
}

.options img {
    filter: invert(1);
    height: 20px;
}

/* main =============================================*/

main {
    padding-top: 50px;
}

main .structure {
    flex-wrap: wrap;
    gap: 24px;
    padding: 60px 20px;
}

main img {
    width: 100%;
}

.card {
    margin-top: 20px;
    width: calc((100% - 24px * 2) / 3);
}

/* :hover card */
.card .default {
    display: block;
}

.card:hover {
    cursor: pointer;
}

.card:hover .default {
    display: none;
}

.card .hover {
    display: none;
}

.card:hover .hover{
    display: block;
}

.heart:hover {
    color: #ff0000;
    cursor: pointer;
}

.img {
    position: relative;
}

.heart {
    position: absolute;
    top: 10px;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 40px;
}

.discount {
    position: absolute;
    bottom: 45px;
    left: 0;
    gap: 4px;
}

.discount * {
    padding: 4px 10px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.percentage {
    background-color: #ff0000;
}

.sustainability {
    background-color: #007900;
}

/* info */

.type {
    font-size: 14px;
}

.name {
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.price {
    font-size: 14px;
}

.price_discount {
    color: #ff0000;
    font-weight: bold;
}

.full_price {
    text-decoration: line-through;
}


/* footer ===========================================*/

footer {
    background-color: #1a1a1a;
}

footer * {
    color: #fff;
}

footer .structure {
    justify-content: space-between;
    padding: 30px 20px;
}

footer .structure .title {
    margin-bottom: 8px;
}

.left .links {
    gap: 10px;
}

.left .links a {
    text-decoration: none;
    font-size: 13px;
}

.left .links a:hover {
    text-decoration: underline;
}

.icons_media {
    gap: 6px;
}

.right .title{
    font-size: 15px;
}

.icons_media img {
    filter: invert(1);
    height: 22px;
    width: 22px;
}

/* media query */

@media (max-width: 600px) {
    .discount {
        flex-direction: column;
        align-items: flex-start;
    }
    .heart {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 30px;
    }
    .links {
        flex-direction: column;
        align-items: flex-start;
    }
}